/* screen - devicepluginsmartplugbasickeyscreen */

.devicepluginsmartplugbasickeyscreen {
  background-color: var(--white);
  height: 1197px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicepluginsmartplugbasickeyscreen .group-76 {
  height: 638px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .descriptiontabletop-copy-2 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .group-13 {
  height: 146px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy {
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 400px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy-9 {
  height: 57px;
  left: 60px;
  position: absolute;
  top: 89px;
  width: 400px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy-1 {
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0;
  width: 210px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text1line_-bold-copy {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.devicepluginsmartplugbasickeyscreen .group-2 {
  height: 119px;
  left: 0;
  position: absolute;
  top: 212px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy-2 {
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 400px;
}

.devicepluginsmartplugbasickeyscreen .group-3 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 341px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy-25 {
  cursor: pointer;
  height: 77px;
  left: 470px;
  position: absolute;
  top: 0;
  width: 210px;
}

.devicepluginsmartplugbasickeyscreen .group-3-copy-2 {
  height: 79px;
  left: 0;
  position: absolute;
  top: 430px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .group-60 {
  height: 119px;
  left: 0;
  position: absolute;
  top: 519px;
  width: 680px;
}

.devicepluginsmartplugbasickeyscreen .table-guide-text2line_mint-copy-29 {
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0;
  width: 210px;
}

.devicepluginsmartplugbasickeyscreen .group-4 {
  height: 655px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.devicepluginsmartplugbasickeyscreen .web-sub_-title {
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsmartplugbasickeyscreen .web-title-area {
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsmartplugbasickeyscreen .web-tab-device-plug-in_-smart-plug {
  height: 47px;
  left: 322px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginsmartplugbasickeyscreen .tab {
  align-items: center;
  display: flex;
  left: 100px;
  position: relative;
}

.devicepluginsmartplugbasickeyscreen .key-screen {
  cursor: pointer;
  height: 17px;
  width: 66px;
}

.devicepluginsmartplugbasickeyscreen .interaction-flow {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 98px;
}

.devicepluginsmartplugbasickeyscreen .basic-key-screen {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 101px;
}

.devicepluginsmartplugbasickeyscreen .lnb-device-plug-in {
  height: 1601px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .overlap-group2 {
  height: 1601px;
  position: relative;
}

.devicepluginsmartplugbasickeyscreen .rectangle {
  background-color: var(--concrete);
  height: 1586px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .stacked-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .web-index {
  cursor: pointer;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .overlap-group {
  height: 41px;
  position: relative;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .empty {
  height: 20px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .line-copy {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartplugbasickeyscreen .empty-1 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartplugbasickeyscreen .web-index-title-reference {
  cursor: pointer;
  width: 313px;
}

.devicepluginsmartplugbasickeyscreen .line {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsmartplugbasickeyscreen .home-net-ui-guideline {
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginsmartplugbasickeyscreen .webgnb {
  background-color: var(--shark);
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.devicepluginsmartplugbasickeyscreen .index-container {
  background-color: var(--shark);
  height: 64px;
  position: relative;
}

.devicepluginsmartplugbasickeyscreen .index {
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0;
  width: 123px;
}

.devicepluginsmartplugbasickeyscreen .web-index-select {
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginsmartplugbasickeyscreen .web-index-unselect {
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.devicepluginsmartplugbasickeyscreen .web-index-unelect_main {
  background-image: url(../img/devicepluginelevatortwobuttontype-logo@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 294px;
}
