/* screen - deviceplugincurtainpartytallyopencaseinteractionflow */

.deviceplugincurtainpartytallyopencaseinteractionflow {
  background-color: var(--white);
  height: 7677px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-9 {
  height: 787px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-10 {
  height: 741px;
  left: 420px;
  position: absolute;
  top: 1279px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-11 {
  height: 778px;
  left: 420px;
  position: absolute;
  top: 2170px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-12 {
  height: 1664px;
  left: 420px;
  position: absolute;
  top: 3098px;
  width: 1401px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-14 {
  height: 806px;
  left: 420px;
  position: absolute;
  top: 6671px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-13 {
  height: 795px;
  left: 420px;
  position: absolute;
  top: 4912px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .group-8 {
  height: 664px;
  left: 420px;
  position: absolute;
  top: 5857px;
  width: 1400px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-sub_-title {
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-title-area {
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-tab-device-plug-in_-curtain {
  height: 47px;
  left: 322px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .tab {
  align-items: center;
  display: flex;
  left: 100px;
  position: relative;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .key-screen {
  cursor: pointer;
  height: 17px;
  width: 66px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .interaction-flow {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 98px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .partytally-open-case-copy {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 125px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .partytally-open-case {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 238px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .lnb-device-plug-in {
  height: 1601px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .overlap-group2 {
  height: 1601px;
  position: relative;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .rectangle {
  background-color: var(--concrete);
  height: 1586px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .stacked-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 185px;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-index {
  cursor: pointer;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .overlap-group {
  height: 41px;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .empty {
  height: 20px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .line-copy {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .empty-1 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-index-title-reference {
  cursor: pointer;
  width: 313px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .line {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .home-net-ui-guideline {
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .webgnb {
  background-color: var(--shark);
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .index-container {
  background-color: var(--shark);
  height: 64px;
  position: relative;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .index {
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0;
  width: 123px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-index-select {
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 32px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-index-unselect {
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.deviceplugincurtainpartytallyopencaseinteractionflow .web-index-unelect_main {
  background-image: url(../img/devicepluginelevatortwobuttontype-logo@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 294px;
}
