/* screen - devicepluginsmartlockstatustypeinteractionflow */

.devicepluginsmartlockstatustypeinteractionflow {
  background-color: var(--white);
  height: 2362px;
  position: relative;
  width: 1920px;
}

.devicepluginsmartlockstatustypeinteractionflow .group-7 {
  height: 902px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.devicepluginsmartlockstatustypeinteractionflow .group-6 {
  height: 768px;
  left: 420px;
  position: absolute;
  top: 1394px;
  width: 1400px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-sub_-title {
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-title-area {
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-tab-device-plug-in_-smart-lock {
  height: 17px;
  left: 420px;
  position: fixed;
  top: 187px;
  width: 303px;
}

.devicepluginsmartlockstatustypeinteractionflow .tab {
  align-items: center;
  display: flex;
}

.devicepluginsmartlockstatustypeinteractionflow .status-type {
  cursor: pointer;
  height: 17px;
  width: 70px;
}

.devicepluginsmartlockstatustypeinteractionflow .status-type-_-intera {
  cursor: pointer;
  height: 17px;
  margin-left: 50px;
  width: 183px;
}

.devicepluginsmartlockstatustypeinteractionflow .lnb-device-plug-in {
  height: 1601px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .overlap-group2 {
  height: 1601px;
  position: relative;
}

.devicepluginsmartlockstatustypeinteractionflow .rectangle {
  background-color: var(--concrete);
  height: 1586px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .stacked-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-index {
  cursor: pointer;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .overlap-group {
  height: 41px;
  position: relative;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .empty {
  height: 20px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .line-copy {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsmartlockstatustypeinteractionflow .empty-1 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-index-title-reference {
  cursor: pointer;
  width: 313px;
}

.devicepluginsmartlockstatustypeinteractionflow .line {
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsmartlockstatustypeinteractionflow .home-net-ui-guideline {
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginsmartlockstatustypeinteractionflow .webgnb {
  background-color: var(--shark);
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.devicepluginsmartlockstatustypeinteractionflow .index-container {
  background-color: var(--shark);
  height: 64px;
  position: relative;
}

.devicepluginsmartlockstatustypeinteractionflow .index {
  height: 64px;
  left: 421px;
  position: absolute;
  top: 0;
  width: 123px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-index-select {
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 32px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-index-unselect {
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 21px;
  width: 29px;
}

.devicepluginsmartlockstatustypeinteractionflow .web-index-unelect_main {
  background-image: url(../img/devicepluginelevatortwobuttontype-logo@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 294px;
}
